<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link rel="stylesheet" href="templates/home.css">
  <title>Q&A Homepage</title>
</head>
<body class="light-mode">

<header name="header" class="header">
  <div class="header-icon">
      You Suck<br/>Icon
  </div>
  <div class="header-search">
      <input type="text" placeholder="Search or Create Questions">
  </div>
  <div class="header-login">
      <button class="login-button">LOGIN</button>
  </div>
</header>
<div class="container-header">
  <span>If you have either just sucked or rocked during an interview, it doesn't matter, share your experience by creating a question!</span>
  <button class="ask-button" hx-get="/questions/create" hx-target=".container-header">Create a Question!</button>
</div>
<div class="container">
  {{range .questions}}
    <hr>
    <div class="question">
      <span>{{.Question}}</span></br>
    </div>
    <div class="answer">
      <span>{{.Answer}}</span>
    </div>
  {{end}}

</body>
</html>
